@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: #2fb4e4;
}
.botonEmpezar {
    background-color: #2fb4e4;
    display: flex;
    margin-top: 0rem;
    margin-left: 0rem;
    font-size: 50px;
    position: absolute; 
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}
.nubes_fondo {
    width: 100%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1;
}
.boton{
    font-family: "Press start 2p", system-ui;
    background-color: #2fb4e4;
    display: flex;
    font-size: x-large;
    margin-top: 5rem;
    margin-left:  45%;
}

.texto_dificultad{ 
    font-family:"Press start 2p", system-ui;
    margin-top: 5%;
    margin-left: 25%;
}
.puntaje{
    margin-top: 0%;
    margin-left: 25%;

}